server/*
!initial-setup.bat
!initial-setup.sh
!server.properties
!eula.txt
!start.bat
!start.sh

!server/world/
server/world/*
!carpet.conf
!server/world/scripts/

!server/config/
server/config/*
!charm.toml
!automated_crafting.json
!sojurn.json
!world_blender.json5
!fabrication.ini

!server/config/traverse/
server/config/traverse/*
!biomes.json

!server/config/terrestria/
server/config/terrestria/*
!biomes.json