server/*
!initial-setup.bat
!initial-setup.sh
!server.properties
!eula.txt
!start.bat
!start.sh

!server/config/
server/config/*
!charm.toml
!automated_crafting.json
!sojurn.json

!server/config/traverse/
server/config/traverse/*
!biomes.json

!server/config/terrestria/
server/config/terrestria/*
!biomes.json